html{
	height: 100%;
/* 	background: radial-gradient(circle, white, grey);  */
	background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 50%, rgba(92, 77, 66, 0.8) 100%), url("../images/background.jpg");
/* 	background: url("../images/background.jpg"); */
  	background-position: center;
  	background-repeat: no-repeat;
  	background-attachment: scroll;
  	background-size: cover;
}

#gameHeader {
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px; 
	margin-bottom: 40px; 
	text-align: center; 
	color: white; 
	font-weight: bold; 
	font-size: 32px; 
	
}

#fullForm {
	width: 600px; 
	background-color: lightgreen; 
	display: block;
    margin-left: auto;
    margin-right: auto; 	
	margin-top: 30px; 
	padding: 5px; 
	border: 2px solid green; 
	border-radius: 8px; 
}
.legend{
	font-size: 24px; 
	font-weight: bold; 
	color: blue; 	
}
.textBlockAlign{
	background-color: #FFC9A0; 
	margin: 5px; 
	padding-left: 5px; 
	padding-top: 10px; 
	border: 2px solid white; 	
	border-radius:5px; 
	height: 30px; 	
}
.textBoxAlign{
	height: 20px; 
	width: 202px; 
	margin-top: -3px; 	 
	margin-right: 10px; 	
}
#userName {
	margin-left:48px; 
}

#firstName{
	margin-left:48px; 
}
#lastName{
	margin-left:49px; 
}
#postCode{
	margin-left:61px; 
}
#email{
	margin-left:80px; 
}
#password {
	margin-left:58px;
}

#reEnterPassword {
	margin-left:0px;
}

#cardNumber{
	margin-left:15px; 
}
#ccv{
	margin-left:70px; 
}
#cardType{
	height: 30px; 
	margin-left:27px; 
	width: 206px; 
	margin-top: -4px;		 
	margin-right: 10px; 
}
.buttonAlign{
	text-align: center;
	font-size: 15px; 
	margin: 5px; 
}
#helpPage{
	padding-top: 10px; 
	padding-left: 10px; 
	background-color: lightgreen; 
	color: blue; 
}
#instruction{
	font-weight:bold; 
	font-size: 26px;
	font-style: italic; 
}
li {	
	font-size: 20px;
	margin-top:10px; 
	margin-bottom:10px; 
}
#selectMonth {
	height:25px; 
	
}
#selectYear{
	height:25px; 
	margin-right: 10px;
}
.colorChange{
	text-align: center;
	color: red; 
}
#thankyouMessages{
	font-size: 18px; 
	font-weight: bold; 
	color: blue; 
	text-align: center; 	
}
#reloadButton{
	margin-top: 5px; 
}

#registrationComplete, #unsuccessfulLogIn{
	font-size: 25px; 
	font-weight: bold;
	text-align: center; 
}

#registrationCompleteThankYou, #unsuccessfullLogInMessage{
	text-align: center; 
}




